@use "../../utils" as *;

.ts-header-area {
  position: relative;
  padding: 10px 0;
  background: transparent;
}

.ts-transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

.ts-header-logo {
  margin-right: 60px;
}

.ts-header-menu {
  & ul {
    display: flex;
    align-items: center;
    & li {
      list-style: none;
      &:hover {
        & a {
          color: var(--ts-theme-color);
        }
      }
      & a {
        color: var(--ts-white);
        font-family: var(--ts-font-menu);
        margin-right: 40px;
        @include transition(0.3s);
      }
    }
  }
}
