@use "../../utils" as *;

.ts-testimonial-area {
  position: relative;
  overflow: hidden;
}

.ts-testimonial-bg-img1 {
  position: absolute;
  top: 15%;
  left: -10%;
  animation: downup 3s infinite ease-in-out alternate;
  -webkit-animation: downup 3s infinite ease-in-out alternate;
  @media #{$lg-m} {
    top: 15%;
    left: -10%;
  }
  @media #{$md-m} {
    display: none;
  }
}

.ts-testimonial-bg-img2 {
  position: absolute;
  right: -10%;
  bottom: 10%;
  animation: downup 5s infinite ease-in-out alternate;
  -webkit-animation: downup 5s infinite ease-in-out alternate;
  @media #{$lg-m} {
    right: -10%;
    bottom: 10%;
  }
  @media #{$md-m} {
    display: none;
  }
}

.ts-testimonial-content {
  position: relative;
  background: var(--ts-theme-color);
  padding: 95px 95px 75px;
  width: 100%;
  height: 100%;

  & .ts-testimonial-quote {
    position: absolute;
    margin-top: -12px;
    margin-left: -20px;
  }

  & span {
    font-size: 20px;
  }

  & .ts-testimonial-info {
    // position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--ts-black);
    & .ts-testimonial-name-desig {
      & h5 {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
      }
      & span {
        font-size: 14px;
        margin: 0;
      }
    }
    & .ts-testimonial-pic {
      position: relative;
      margin-top: -5px;
    }
  }

  & .ts-testimonial-shape {
    position: absolute;
    left: 0;
    bottom: 10%;
  }
}

.ts-testimonial-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  & img {
    // position: relative;
    width: 100%;
    height: 100%;
  }

  & .ts-testimonial-play-btn {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(50%, 50%);
    &:hover {
      & i {
        background: var(--ts-theme-color-2);
        color: var(--ts-white);
      }
    }
    & i {
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50px;
      text-align: center;
      background: var(--ts-theme-color);
      animation: animate-pulse 3s linear infinite;
      @include transition(0.3s);
    }
  }
}
